@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

html, body {
    min-height: 100vh;
    margin: 0;
    background-image: url(../images/vecteezy_row-of-dumbbell-in-fitness-gym__779.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    opacity: 0.9;
}

.modal-card-foot.centered {
    justify-content: center;
}